@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
    --yellow-color: #A7F3D0;
    --light-yellow-color:#F7FEE7;
    --gray-color: #EFF6FF;
}

body{
    font-family: 'Merriweather', serif;
    margin: 0%;
}

.navigation, .footer {
    /* border: black .1rem solid; */
    padding: 1.52rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: right;
    font-weight: bolder;
    font-size: 1.05rem;
    background-color: var(--yellow-color);
}

.logo {
    display: inline;
    font-family: 'Architects Daughter', cursive;
    text-decoration: underline;
    text-align: left;
}

.logo h1 {
    margin: 0px;
    font-size: 2rem;
}

.non-bullet li, ul {
    list-style: none;
    display: inline;
    padding-inline-start: 0px;
    padding: 0rem 2%;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    border: black solid 1px;
    padding: 10px;
    border-radius: 3rem;
}

.container {
    display: flex;
    /* border: 1px black solid; */
}

section, footer {
    /* margin: 3rem 0rem; */
    padding: 3rem 25%;
    text-align: center;
    /* border: solid 1px black; */
}

.profile-photo {
    width: 18rem;
    border-radius: 20%;
}

.even {
    background-color: var(--gray-color)
}

.footer {
    /* background-color: var(--yellow-color); */
    text-align: center;
    border-radius: 1rem 1rem 0rem 0rem;
    margin-bottom: 0px;
}

.social-media-links li a {
    width: 10px;
}

.tech {
    padding: 1px;
}

.skill li{
    border: black solid 1px;
    padding: .4rem;
    border-radius: 3rem;
    margin: .5rem;
    background-color: var(--yellow-color);
}

.skill {
    display: inline-block;
    margin: .8rem .1rem;
}