@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
    --lime-color: #A7F3D0;
    --gray-color: #EFF6FF;
    --dark-green-color: #10B981;
}

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Merriweather', serif;
    margin: 0%;
}

.navigation, .footer {
    /* border: black .1rem solid; */
    padding: 1.52rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: right;
    font-weight: bolder;
    font-size: 1.05rem;
    background-color: var(--lime-color);
}

.logo {
    display: inline;
    font-family: 'Architects Daughter', cursive;
    text-decoration: underline;
    text-align: left;
}

.logo h1 {
    margin: 0px;
    font-size: 2rem;
}

.non-bullet li, ul {
    list-style: none;
    display: inline;
    padding-inline-start: 0px;
    padding: 0rem 2%;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    border: black solid 1px;
    padding: 5px 10px;
    border-radius: 3rem;
}


section, footer {
    /* margin: 3rem 0rem; */
    padding: 3rem 25%;
    text-align: center;
    /* border: solid 1px black; */
}

.profile-photo {
    /* display: block; */
    /* float: left; */
    width: 8rem;
    border-radius: 20%;
    clip-path: circle(56.1% at 51% 44%);

}

 .photo {
    float: left;
    /* margin-left: 20%; */
    margin-right: 15px;
    width: 8rem;
}

section:nth-child(odd) {
    background-color: var(--gray-color)
}

.footer {
    /* background-color: var(--lime-color); */
    text-align: center;
    border-radius: 1rem 1rem 0rem 0rem;
    margin-bottom: 0px;
    overflow: auto;
    /* float: right; */
}

.tech {
    padding: 1px;
}

.skill li{
    border: black solid 1px;
    padding: .4rem;
    border-radius: 3rem;
    margin: .5rem;
    background-color: var(--lime-color);
}

.skill {
    display: inline-block;
    margin: .8rem .1rem;
}

.ssicon {
    width: 40px;
    padding: 10px;
}

.hover:hover {
    transform: scale(1.04);
    display: inline-block;
}

.link-in-between {
    display: inline-block;
    text-decoration: underline;
    margin: .5rem;
}

.project-name {
    /* display: inline-block; */
    text-align: left;
    display: block;
}

.project-link {
    margin: .5rem 1rem;
    background-color: var(--lime-color);
    display: inline-block;
}

.code-link {
    margin: .5rem 1rem;
    color: var(--dark-green-color);
    background-color: white;
    display: inline-block;
}

.info {
    overflow: hidden;
}

.page-links a {
    margin-top: 2rem;
    display: inline-block;
}

.name {
    text-align: left;
}

@media  screen and (max-width: 600px) {
    section {
        padding: 3rem 15%;
    }

    .navigation{
        text-align: center;
    }

    .blogPhoto {
        float: none;
        width: 18rem;
        margin: 10px 0px 10px 0px;
        border-radius: 20px;
    }

    .imageContainer img {
        width: 20rem;
        border-radius: 10px;
    }

    img.bigger {
        width: 25rem;
    }
}

/* Blogs */
.justifyContent {
    text-align: justify;
}

.leftAllign {
    text-align: left;
}

.leftAllign li {
    text-decoration: underline;
    margin-left: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.imageContainer img {
    width: 25rem;
    border-radius: 10px;
}

.upPara {
    text-align: right;
    width: max-content;
    height: max-content;
    display: inline-block;
}

.upHeading, .upArrow {
    display: inline-block;
    cursor: pointer;
}

img.bigger {
    width: 35rem;
}

.blogPhoto {
    float: right;
    width: 22rem;
    margin-left: 20px;
    border-radius: 20px;
}